body {
    margin: 0;
    padding: 0;
    font-family: calibri;
}

/* -------------------- FOOTER -------------------- */

#bottom {
	background:white;
	width:100%;
	min-width: 1220px;	
	box-shadow: 0 -1px 7px 0 #CCCCCC;
}
	#bottom a{
		outline: none;
	}
	
	#bottom li {
		display:inline;
	}

	#bottom .etiquetas{
		padding-top:20px;
		height:45px;		
		text-align: center; 
	}

	#bottom .etiquetas li > a{
		font-size:18px;
		padding-top:5px;
		padding-bottom:5px;
		padding-left:5px;
		padding-right:5px;
		border-radius: 5px 5px 5px 5px;
		color:rgb(106, 106, 106);
		background-color:rgb(230, 230, 230);
		text-decoration: none;
		margin: 0 10px;
	}

	#bottom .etiquetas li > a:hover{
		color:white;
		background-color:rgb(200, 200, 200);
	}

	#bottom .text_intermedio {
		height:30px;
		width:100%;
		font-size:14px;
		color:rgb(106, 106, 106);
		border-top:2px solid #f6f6f6;
		padding-top:10px;
	}

	#bottom .provincias{
		width:100%;
		height:110px;
		padding-top:10px;
		font-size:14px;
		color:rgb(106, 106, 106);
		border-top:2px solid #f6f6f6;
		display: flex;
		justify-content: center;
	}
	
		#bottom .provincias ul {
			padding: 0 0 0 10px;
			margin: 4px 0;
		}

		#bottom .provincias li > a{
			font-size:15px;
			color:rgb(106, 106, 106);
			text-decoration: none;
		}

		#bottom .provincias .prov{
			min-width:183px;
			margin: 0 30px;
			display: initial;
			text-align: left;
		}

	#bottom .contact{
		width:100%;
		height:38px;
		margin:8px 0 0 0;
		font-size:15px;
		color:rgb(106, 106, 106);
		border-top:2px solid #f6f6f6;
		display: flex;
		justify-content: center;
	}
		#bottom .contact p {
			margin: 8px 20px 0 0;
		}

		#bottom .contact a{
			display: flex;
			padding:2px;
			border-radius: 20px 20px 20px 20px;
			margin: 4px 10px;
			background-color:rgb(181, 181, 181);
		}
		
		#bottom .contact img {
			width: 26px;
			max-height: 26px;
		}

		#bottom .contact .Twitter a {
			background-color:rgb(0, 172, 237);
		}

		#bottom .contact .Facebook a {
			background-color:rgb(59, 89, 152);
		}
		
		#bottom .contact a:hover {
			background-color:#c8c8c8;
			transition: all 0.3s;
		}


		