body {
    margin: 0;
    padding: 0;
    font-family: calibri;
}

/* -------------------- HEADER NO REGISTRADO -------------------- */

#top{
	padding: 3px 0;
	width:100%;
	height:48px;
	background-color:rgb(36, 146, 197);
	min-width: 1220px;
	position: relative;
	z-index: 1;
	box-shadow: 0 2px 7px 0 #666666;
	
}

	#top a {
		outline: none;
	}
	
	#top .wrap-1 {
		max-width: 1600px;
		margin:auto;
		display: flex;
		justify-content: space-between;
	}

	#logotipo{
		float:left;
		width:25%;
		height:48px;
	}

	#stores{
		height:48px;
		width:32%;
		padding-top: 8px;
		margin-right:1%;
		float: left;	
	}
	
	/*************************************************************************************************************/

		/* -------------------- LOGIN -------------------- */
		
		.fondo_modal{
			
			height: 100%;
			width: 100%;
			overflow: auto;
			position: fixed;
			left:0;
			top: 0;
			z-index: 1; /* Se superpone */
			background-color: rgb(0,0,0); /* Colores de fondo*/
			background-color: rgba(0,0,0,0.4); /* Colores de fondo */
			display: none;/* Oculto por defecto*/
			align-items: center;
			justify-content: center;
						
		}
		
		.formulario {
			
			width: 400px;
			margin: auto;
			background-color: #baf6f7;
			z-index: 2;
			position: initial;
			
			border-radius: 20px 20px 20px 20px;
			-moz-border-radius: 20px 20px 20px 20px;
			-webkit-border-radius: 20px 20px 20px 20px;
			border: 0px solid #000000;
			
		}
		
		
		
		#Titulo_logeo{
			
			text-align: center;
			font-weight: bold;
			font-size: 16.5px;
			height: 25px;
		}
		
		.contacto{
			/border: 1px solid #CED5D7;
			border-radius: 6px;
			padding: 45px 45px 20px;
			font-family: sans-serif;
			font-size: 12px;
			color: #798e94;
		}
		.contacto label{
			display: block;
			font-weight: bold;
		}
		.contacto div{
			margin-bottom: 15px;
		}
		.contacto input[type='text'], .contacto textarea{
			padding: 7px 6px;
			width: 294px;
			border: 1px solid #CED5D7;
			resize: none;
			box-shadow:0 0 0 3px #EEF5F7;
			margin: 5px 0;
		}
		.contacto input[type='text']:focus, .contacto textarea:focus{
			outline: none;
			box-shadow:0 0 0 3px #dde9ec;
		}
		.contacto input[type='password'], .contacto textarea{
			padding: 7px 6px;
			width: 294px;
			border: 1px solid #CED5D7;
			resize: none;
			box-shadow:0 0 0 3px #EEF5F7;
			margin: 5px 0;
		}
		.contacto input[type='password']:focus, .contacto textarea:focus{
			outline: none;
			box-shadow:0 0 0 3px #dde9ec;
		}
		.contacto input[type='submit']{
			border: 1px solid #CED5D7;
			box-shadow:0 0 0 3px #EEF5F7;
			padding: 8px 16px;
			border-radius: 20px;
			font-weight: bold;
			text-shadow: 1px 1px 0px white;
		 
			background: #e4f1f6;
			background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
			background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
		}
		.contacto input[type='submit']:hover{
			background: #edfcff;
			background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
			background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
		}
		.contacto input[type='submit']:active{
			background: #cfe6ef;
			background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
			background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
		}
	
	/************* HEADER REGISTRADO ***********/

#top li {
	list-style:none;
}

	
	#barra_busqueda {
		align-items: center;
		height:48px;
		float:left;

		display: flex;
	}

	#barra_busqueda center {
		display: flex;
	}

	#barra_busqueda center select {
		padding: 2px;
		margin-right: 10px;
	}

	.search_bt {
		margin-left: 10px;
		height: 27px;
		display: flex;
	} 

	.search_bt a {
		align-self: center;
		text-decoration: none;
		border: 3px solid white;
		border-radius: 10px;
		padding: 0 10px;
		color: white;
		background-color: #2492C5;

	} 

		.search_bt a:visited {
			color: white;
		} 

		.search_bt a:hover {
			box-shadow: 0 2px 5px #666666;
			background-color: gray;
			transition: all 0.25s;
		} 

	.search_bt a img {
		height: 12px;
		width: 12px;
		padding-right: 6px;
	}

	#top .menu {
		display: flex;
		flex-direction: column;
		width: 25%;
		max-width: 500px;
		position: relative;
	}

	#top .menu .wrap-2 {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	#top .menu .wrap-2 .search_bt {
		margin-right: 20px;
	}

	#top .menu .menu-button {
		margin: 4px 30px 4px 0;
		height: 40px;	
		width: 40px;
		float: right;	
		outline: none;
		border-radius: 10px;
		transition: all 0.3s;
	}

	#top .menu .menu-list_pico {
		align-self: flex-end;
		display: none;
		margin: 0 35px 0 0;
		border-width: 0 15px 15px ;
		border-color: transparent transparent rgb(36, 146, 197) transparent;
		border-style: solid;
		z-index: 2;
	}

	#top .menu .menu-list {
		align-self: flex-end;
		display:none;
		margin: 0 35px 0 0;
		padding: 15px 10px;
		background-color: rgb(36, 146, 197);
		border-radius: 30px 0px 30px 30px;
		box-shadow: 0 1px 5px 0 #666666;
	}

	#top .menu .menu-list:hover {
		display: block;
	}

		#top .menu .menu-list li {
			position:relative;
		}

			#top .menu .menu-list a, .menu-list input[type = "submit"] {
				background-color: rgb(36, 146, 197);
				color: #ffffff;
				text-decoration: none;
				padding: 5px 10px;
				margin: 5px 10px;
				border-radius: 5px;
				display: block;	
				border: 0;
				
				width: 90%;
				text-align: left;
				
			}

			#top .menu .menu-list a:hover, .menu-list input[type = "submit"]:hover{
				background:#96d1ec;
				border: 0;
			}
			
	#comentario1{
		
		width: 308px;
		height: 68px;
		resize: none;
	}
	
	/* ------------ busqueda avanzada ----------- */

	.wrap-3 {
		position: absolute;
		left: 50%;
	}

	#adv_search {
		display: flex;
		justify-content: space-around;
		position: relative;
		left: -50%;
		z-index: 5;
		width: 450px;
		background-color: #2492C5;
		border-radius: 10px;
		padding: 20px 0; 
		box-shadow: 0 2px 5px #666666;
		display: none;
		margin-top: 20px;
	}

		#adv_search form {
			width: 450px;
		}

			#adv_search form .in {
				margin: 9px 50px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-family: calibri;
			}

				#adv_search form .in input {
					width: 217px;
					padding: 6px;
					border-radius: 4px;
					font-family: calibri;
				}
				
				#adv_search form .in select {
					width: 233px;
					padding: 6px;
					border-radius: 4px;
					font-family: calibri;
				}

				#adv_search form .in textarea {
					padding: 6px;
					border-radius: 4px;
					max-width: 217px;
					max-height: 100px;
					font-family: calibri;
					font-size: 0.8em;
				}

				#adv_search form .in label {
					color: white;
				}

				#adv_search form .bt_submit {
					margin-top: 20px;
					justify-content: center;					
				}				

				#adv_search form .bt_submit input {
					box-shadow: 0 2px 2px #666666;
				}

	