body {
    margin: 0;
    padding: 0;
    font-family: calibri;
}

a {
    text-decoration: none;
    outline: none;
}

/* ------------- BODY REAL -------------- */

#medium{
	background-color:rgb(242, 242, 242);
	min-width: 1220px;
}

	#medium .wrap-2 {
		width: 1220px;
		margin:auto;
		padding: 20px 0;
		display: flex;		
		flex-direction: row;
	}

	#medium .img_ppal img {
		width: 720px;

	}

	#medium .imgs-container {
		display: flex;
		flex-direction: column;
		width: 60%;
		box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
		border-radius: 20px;
		max-width: 720px;
		overflow: hidden;
	}

	#medium .imgs-container .caroussel {
		max-width: 720px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: white;
		border-top: 2px solid #f6f6f6;
		padding: 15px 0;
	}

		#medium .img_sec img {
			max-width: 200px;
			max-height: 200px;
			border-radius: 10px;
		}
		
	#medium .data-container {
		display: flex;
		flex-direction: column;
		margin-left: 20px;
		width: 38%;
	}

		#medium .data-container .data {
			display: flex;
			flex-direction: column;
			background-color: white;
			box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
			border-radius: 20px; 
			padding: 10px 25px;
			color: #9c9b9b;
		}

		#medium .data-container .border_impostor {
			height: 2px;
			background-color: #f6f6f6;

		}
			#precio {
				color:rgb(36, 146, 197);
			}

			#descripcion {
				color: #9c9b9b;
			}

			#data-user {
				margin-top: 20px;
			}

	#button5, #button5 input[type = "submit"]{

		background-color: #0edba7;
		margin-top: 12%;
		border: none;
		color: white;
		padding: 0 40px;
		width: 215px;
		height: 40px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 5px;
	}



	.fondo_modal{
			
			height: 100%;
			width: 100%;
			overflow: auto;
			position: fixed;
			left:0;
			top: 0;
			z-index: 1; /* Se superpone */
			background-color: rgb(0,0,0); /* Colores de fondo*/
			background-color: rgba(0,0,0,0.4); /* Colores de fondo */
			display: none;/* Oculto por defecto*/
			align-items: center;
			justify-content: center;
						
		}
		
		.formulario1 {
			height: 764px;
			width: 400px;
			margin: auto;
			background-color: #baf6f7;
			z-index: 2;
			position: initial;
			
			border-radius: 20px 20px 20px 20px;
			-moz-border-radius: 20px 20px 20px 20px;
			-webkit-border-radius: 20px 20px 20px 20px;
			border: 0px solid #000000;
			
		}
		
		
		
		#Titulo_logeo{
			
			text-align: center;
			font-weight: bold;
			font-size: 16.5px;
			height: 25px;
		}
		
		.contacto{
			/border: 1px solid #CED5D7;
			border-radius: 6px;
			padding: 45px 45px 20px;
			font-family: sans-serif;
			font-size: 12px;
			color: #798e94;
		}
		.contacto label{
			display: block;
			font-weight: bold;
		}
		.contacto div{
			margin-bottom: 15px;
		}
		.contacto input[type='text'], .contacto textarea{
			padding: 7px 6px;
			width: 294px;
			border: 1px solid #CED5D7;
			resize: none;
			box-shadow:0 0 0 3px #EEF5F7;
			margin: 5px 0;
		}
		.contacto input[type='text']:focus, .contacto textarea:focus{
			outline: none;
			box-shadow:0 0 0 3px #dde9ec;
		}
		.contacto input[type='password'], .contacto textarea{
			padding: 7px 6px;
			width: 294px;
			border: 1px solid #CED5D7;
			resize: none;
			box-shadow:0 0 0 3px #EEF5F7;
			margin: 5px 0;
		}
		.contacto input[type='password']:focus, .contacto textarea:focus{
			outline: none;
			box-shadow:0 0 0 3px #dde9ec;
		}
		.contacto input[type='submit']{
			border: 1px solid #CED5D7;
			box-shadow:0 0 0 3px #EEF5F7;
			padding: 8px 16px;
			border-radius: 20px;
			font-weight: bold;
			text-shadow: 1px 1px 0px white;
		 
			background: #e4f1f6;
			background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
			background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
		}
		.contacto input[type='submit']:hover{
			background: #edfcff;
			background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
			background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
		}
		.contacto input[type='submit']:active{
			background: #cfe6ef;
			background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
			background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
		}