body {
    margin: 0;
    padding: 0;
    font-family: calibri;
}

a {
	outline: none;
}

/* -------------------- REAL BODY -------------------- */

#medium{
	background-color:rgb(242, 242, 242);
	min-width: 1220px;
}

	#productos{
		margin:auto;
		padding-top:25px;
		padding-bottom:1%;
		width:90%;
		text-align: center;
		max-width: 1220px;
	}

		#productos .product{
			display: inline-block;
			width: 213px;
			margin: 0 10px 20px 10px;
			border-radius: 25px 25px 25px 25px;
			background-color: black;			
			box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
			text-align: left;
		}	
			#productos .product .imagen-principal{
				border-bottom:1px solid #e9e9e9;
			}

				#productos .product .imagen-principal input{
					width:213px;
					border-radius: 20px 20px 0px 0px;
				}
			#productos .product .price{
				witdh:213px;
				height:22px;
				padding-left:15px;
				padding-bottom:2px;
				color:rgb(36, 146, 197);
				background-color:white;				
				font-size:18px;
			}

			#productos .product .name{
				witdh:213px;
				height:20px;
				background-color:white;
			}
				#productos .product .name a{
					padding-left:15px;
					color:#6a6a6a;
					background-color:white;
					font-size:15px;
					font-weight:bold;
					text-decoration: none;
				}

			#productos .product .type{
				witdh:213px;
				border-bottom:1px solid #e9e9e9;
				background-color:white;
			}

				#productos .product .type a{
					padding-left:15px;
					color:#b5b5b5;
					font-size:13px;
					text-decoration: none;
				}

			#productos .product .product-user{
				witdh:213px;
				color:#6a6a6a;
				background-color:white;
			}
				#productos .product .product-user a{
					padding-left:15px;
					color:#6a6a6a;
					
					font-size:15px;
					text-decoration: none;
				}

			#productos .product .num-product{
				witdh:213px;
				padding-left:15px;
				color:#b5b5b5;
				background-color:white;
				border-radius: 0px 0px 20px 20px;
				
				font-size:13px;
			}
			
			#productos .product .id_oculto{
				display: none;
			
			}

