#content {
	background-color:rgb(242, 242, 242);
	min-width: 1220px;
	display: flex;
	height: 65vh;
	min-height: 200px;
}

	#content .content-wrap {
		margin:auto;
		width:90%;
		text-align: center;
		max-width: 1220px;
		align-self: center;	
		background-color: white;
		box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
		border-radius: 20px; 
		padding: 20px;
		color: #7A7A7A;
	}