#medium{
	padding-top: 20px;
	background-color: #F2F2F2;
	min-width: 1220px;
}

#head {
	margin: 0 10% 20px 10%;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
	min-width: 976px;
}

#imagen_perfil{
	height: 150px;
	background-image: url("../img/cabecera_perfil.png");	

}

#texto_imagen_perfil{
	
	color: white;
	font-weight: bold;
	font-size: 35px;
	display:flex;
	justify-content: center;
	padding-top: 50px;
	
}

#head ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
	margin-top: 35px;
}

#head ul li {
	text-decoration: none;
	list-style: none;
	margin: 0 20px;
	font-size: 15px;
	color: white;

}

#body_impostor{
	
	margin-left: 10%;
	width: 80%;
	height: 1000px;
}

#opciones{
	
	//background-color: #38dfda;
	width: 20%;
	//height: 225px;
	float: left;
	
		
	background-color: white;
	box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
	border-radius: 20px;
	padding: 10px 25px;
	
	margin-right: 25px;
}

#mis_datos{
	
	//background-color: #55edfa;
	width: 730px;
	float: left;
	
	background-color: white;
	box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
	border-radius: 20px;
	padding: 10px 25px;
	
	font-weight: bold;
	color: #beb0b0;
	
		
}

#menu_opciones{
	
	//padding-top: 40px;
	height: 340px;
	text-align: center;
}


.button, button.input[type = "submit"]{

	background-color: #0edba7;
	margin-top: 12%;
	border: none;
	color: white;
	padding: 0 40px;
	width: 215px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
}


.button:hover, button.input[type = "submit"]:hover {
  background: #21d012;
  cursor: pointer;
  text-decoration: none;
}

.columna_datos{
	
	width: 35%;
	margin-top: 10px;
	padding: 20px;
	float: left;

	margin-left: 6%;
	
	
}
.columna_datos input[type=text], input[type=password], #provinciaID, input[type=number]{
	
	width: 100%;
	padding: 6px 10px;
    margin: 8px 0;
	display: inline-block;
	margin-top: 10px;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	margin-bottom: 20px;
	
	
}

#contenedor_datos{
	
	margin-top: 20px;
	//padding: 20px;	
	border-radius: 15px;
    background-color: #f2f2f2;
}


#productos .product{
			display: inline-block;
			width: 213px;
			margin: 0 10px 20px 10px;
			border-radius: 25px 25px 25px 25px;
			background-color: black;			
			box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
			text-align: left;
		}	
			#productos .product .imagen-principal{
				border-bottom:1px solid #e9e9e9;
			}

				#productos .product .imagen-principal input[type = "image"]{
					width:213px;
					border-radius: 20px 20px 0px 0px;
				}
				
				#productos .product input[type = "hidden"]{
				
					display: none;
				}
				
			#productos .product .price{
				witdh:213px;
				height:22px;
				padding-left:15px;
				padding-bottom:2px;
				color:rgb(36, 146, 197);
				background-color:white;				
				font-size:18px;
			}

			#productos .product .name{
				witdh:213px;
				height:20px;
				background-color:white;
			}
				#productos .product .name a{
					padding-left:15px;
					color:#6a6a6a;
					background-color:white;
					font-size:15px;
					font-weight:bold;
					text-decoration: none;
				}

			#productos .product .type{
				witdh:213px;
				border-bottom:1px solid #e9e9e9;
				background-color:white;
			}

				#productos .product .type a{
					padding-left:15px;
					color:#b5b5b5;
					font-size:13px;
					text-decoration: none;
				}

			#productos .product .product-user{
				witdh:213px;
				color:#6a6a6a;
				background-color:white;
			}
				#productos .product .product-user a{
					padding-left:15px;
					color:#6a6a6a;
					
					font-size:15px;
					text-decoration: none;
				}

			#productos .product .num-product{
				witdh:213px;
				padding-left:15px;
				color:#b5b5b5;
				background-color:white;
				border-radius: 0px 0px 20px 20px;
				
				font-size:13px;
			}
			
			#productos .product .id_oculto{
				display: none;
			
			}

#mis_productos{
	
	display: none;
	width: 765px;
	float: left;
	text-align: center;
	
}

#chats{
	width: 65%;
	float: left;
	background-color: white;
	box-shadow: 4px 4px 4px 0px rgba(222,222,222,1);
	border-radius: 20px;
	padding: 10px 25px;
	font-weight: bold;
	color: #beb0b0;
	margin-bottom: 1%;
	padding-bottom:30px;
	display:none;	
}

#text-chat{
	margin-left: 10%;
	margin-top: 1%;
	width: 70%;
	font-weight: initial;
	 word-wrap: break-word;
}
